@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto&family=Yusei+Magic&display=swap');

@font-face {
    font-family: fruitForceFont;
    src: url("fonts/FruitForceFont.ttf");
}

@font-face {
    font-family: lostFlameFont;
    src: url("fonts/LostFlameFont.ttf");
}

:root
{
    --color-accent: rgb(165, 0, 0);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Roboto", sans-serif;
}

a
{
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar
{
    width: 100%;
    height: 75px;
    background-color: #050505;
    padding: 10px 20px;
}

.navbar-container
{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.navbar-links
{
    text-decoration: none;
    display: flex;
    list-style: none;
}

.navbar-links li
{
    margin-right: 20px;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.navbar-links li a:hover
{
    color: var(--color-accent);
}

.accent-underline
{
    text-decoration: underline solid var(--color-accent) 3px;
}

/* Footer */
.footer
{
    height: 100px;
    color: #fff;
    background-color: #050505;
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

/* Main Content */
.main-content
{
    background-color: #161616;
    color: #fff;
    width: 100%;
    min-height: 1000px;
}

.main-content-container
{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content-1-left content-1-left content-1-right"
    "content-2-left content-2-right content-2-right"
    "content-3-left content-3-left content-3-right"
    ;
    row-gap: 20px;
    column-gap: 10px;
}

.main-header
{
    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 500px;
    background-color: #242424;
}

.main-header h1
{
    margin-bottom: 10px;
    font-size: 50px;
}

.main-header p
{
    text-align: center;
    font-size: 20px;
}

.gradient-background
{
    background-image: linear-gradient(to top right, #313131, #191919 );
}

.content-item
{
    height: 200px;
    background-color: #242424;
    padding: 10px;
}

.content-item:nth-of-type(1)
{
    grid-area: content-1-left;
}

.content-item:nth-of-type(2)
{
    grid-area: content-1-right;
}

.content-item:nth-of-type(3)
{
    grid-area: content-2-left;
}

.content-item:nth-of-type(4)
{
    grid-area: content-2-right;
}

.content-item:nth-of-type(5)
{
    grid-area: content-3-left;
}

.content-item:nth-of-type(6)
{
    grid-area: content-3-right;
}

/* Projects Page */
.project-content
{
    background-color: #161616;
    color: #fff;
    width: 100%;
    min-height: 1000px;
    padding-bottom: 50px;
}

.project-content-container
{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px repeat(2, 500px);
    row-gap: 50px;
}

.project-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.project-item-icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 225px;
}

.project-item-icons img
{
    border: 1px solid #000;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.fruit-force-box
{
    
    background-image: linear-gradient(to top right, #B818CA, #94329F, #7B3583, #4C2251);
    font-family: "fruitForceFont", "Roboto", sans-serif;
    color: #5AEA1B;
}

.fruit-force-box h1
{
    text-shadow: 5px 5px rgba(0, 0, 0, 1);
    font-size: 40px;
}

.fruit-force-box p
{
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
}

.project-box h3, .project-box h4
{
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.project-box h3
{
    font-size: 30px;
}

.project-box h4
{
    font-size: 20px;
    text-align: center;
}

.lost-flame-box
{
    background-image: linear-gradient(to top right, #20AB43, #005715);
    font-family: "lostFlameFont", "Roboto", sans-serif;
    color: #85FFFF;
}

.lost-flame-box h1
{
    text-shadow: 5px 5px rgba(0, 0, 0, 1);
    font-size: 80px;
}

.lost-flame-box p
{
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    font-size: 25px;
    text-align: center;
}

/* Support */
.support-content
{
    background-color: #161616;
    color: #fff;
    width: 100%;
    min-height: 1000px;
}

.support-content-container
{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

.contact-form h1
{
    margin-bottom: 15px;
    font-size: 50px;
}

.contact-form input
{
    height: 50px;
    width: 50%;
    margin-bottom: 10px;   
    border-radius: 15px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    border: 5px solid #040404;
    background-color: #121212;
    color: #fff;
}

.form-message
{
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    min-width: 50%;
    max-width: 100%;
    min-height: 150px;
    max-height: 250px;
    font-family: "Roboto", sans-serif;
    border: 5px solid #040404;
    background-color: #121212;
    color: #fff;
}

.form-submit-button
{
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    font-size: 25px;
    border: 5px solid #040404;
    background-color: #121212;
    color: #fff;
}

.form-submit-button:hover
{
    background-color: #777;
    color: #121212;
}

input:focus, textarea:focus
{
    outline: none;
}